.rbc-toolbar{
    padding-top: 1.1rem;
}

/* Toolbar Button Hover and Transition */
.rbc-toolbar button {
    color: #443779;
    border-color: #443779;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}

.rbc-toolbar button:hover {
    background-color: rgba(69, 56, 121, 0.5);
    border-color: #443779;
}

.rbc-toolbar button:active {
    background-color: rgba(69, 56, 121, 0.4);
    box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.125);
    border-color: #443779;
}

.rbc-toolbar button:focus {
    background-color: rgba(69, 56, 121, 0.4);
    box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.125);
    border-color: #443779;
}

.rbc-toolbar button:active:hover {
    background-color: rgba(69, 56, 121, 0.6);
    box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.125);
    border-color: #443779;
}

.rbc-toolbar button:active:focus {
    background-color: rgba(69, 56, 121, 0.6);
    box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.125);
    border-color: #443779;
}

.rbc-toolbar button.rbc-active {
    background-color: rgba(69, 56, 121, 0.4);
    box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.125);
    border-color: #443779;
    color: #443779;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.rbc-toolbar button.rbc-active:focus {
    background-color: rgba(69, 56, 121, 0.4);
    box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.125);
    border-color: #443779;
    color: #443779;
}


/* Toolbar Label Transition */
.rbc-toolbar-label {
    font-size: 2.5rem;
    font-weight: 500;
    color: #443779;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
    transition: color 0.3s ease; /* Smooth color transition */
}

.rbc-header{
    background: linear-gradient(180deg, #DADAF3 9.27%, rgba(245, 238, 253, 0.00) 109.27%);
    color:black;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    overflow: hidden;
    border-color: #443779;
    border-width: 0.09rem;
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem; /* Adjust font size for smaller screens */
    padding: 5px;
}

.rbc-month-view{
    border-width: 0px;
}

.rbc-month-view .rbc-date-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.rbc-month-view .rbc-day-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.rbc-month-row{
    border-color: #443779;
    border-bottom-width: 0.09rem;
}

.rbc-day-bg{
    border-color: #443779;
    border-left-width: 0.09rem;
    border-right-width: 0.09rem;
    background: white;
}

.rbc-off-range-bg {
    background-color: #ffffff;
    filter: brightness(90%);
}

.rbc-event {
    color: #443779;
    border-color: #443779;
    border-width: 0.02rem;
    width: 96%;
    margin-top: 2px;
    margin-left: 2%;
    background-color: #f8f8fe;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease; 
    
}

.rbc-event:hover {
    background-color: #e6e6f5; 
}

.rbc-event.rbc-selected, .rbc-day-slot .rbc-selected.rbc-background-event {
    background-color: #e6e6f5;
}

.rbc-event, .rbc-day-slot .rbc-background-event {
    background-color: #f8f8fe;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.rbc-event:focus, .rbc-day-slot .rbc-background-event:focus {
    outline: 0.1rem auto #443779;
}

.rbc-agenda-table{
    border-width: 0;
}

.rbc-agenda-view table.rbc-agenda-table {
    width: 100%;
    border-spacing: 0;
    border-width: 0;
}

.rbc-agenda-date-cell, .rbc-agenda-time-cell, .rbc-agenda-event-cell {
    border: 0.1rem solid #4437797d;
}

.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
    padding: 3px 10px;
    text-align: left;
    border-width: 0;
    
}

.custom-calendar {
    height: 700px; 
    max-width: 1200px; 
    margin: 0 auto;
    font-family: "Inter";
    padding: 20px; 
    box-sizing: border-box; 
}

.custom-calendar-container {
    height: calc(100vh - 6.5rem); 
    display: flex;
    flex-direction: column;
}

/*
.current-day {
    position: relative;
}

.current-day::before {
    content: '';
    position: absolute;
    top: 0px; 
    left: 48.4%;
    transform: translateX(-50%);
    width: 25px; 
    height: 25px; 
    background-color: rgb(217, 98, 98);
    border-radius: 50%;
    z-index: 0;
}
*/

@media (max-width: 768px) {
    .custom-calendar {
        width: 100;
        margin: 10px;
        padding: 15px;
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .custom-calendar {
        width: 100; 
        margin: 5px;
        padding: 10px;
    }
}